PersonalFinanceWebApi/PersonalFinanceWebApi/bin
PersonalFinanceWebApi/PersonalFinanceWebApi/obj
PersonalFinanceWebApi/.vs

personal-finance-web-api/personal-finance-web-api/bin
personal-finance-web-api/personal-finance-web-api/obj
personal-finance-web-api/.vs

personal-finance-webapp-vue/node_modules
personal-finance-webapp-vue/.vscode

.vscode